<h1>Fill all fields to sign up</h1>

<form action="/signup" method="post">
  <label>User Name</label>
  <br/>
  <input type='text' name='username'>
  <br/>
  <label>Email</label>
  <br/>
  <input type='text' name='email'>
  <br/>
  <label>Password</label>
  <br/>
  <input type='text' name='password'>
  <br><br/>
  <input type='submit' name='Sign Up'>
</form>
