<h1>Advice or Personal Experiance with Organization</h1>
<form action='/user_experiances/new' method='post'>
  <textarea name='experiance_content' rows='30' cols='60'></textarea><br/>
  <textarea name='advice_content' rows='30' cols='60'></textarea><br/>
  <button tyoe='submit' value='submit'>Submit</button>
</form>
