<h1>Personal experiance and ratings with Organization</h1>
<form action='/user_experiances/new' method='post'>
  <label>Your Personal Experiance with the organization:</label></br>
  <textarea name='experiance_content' rows='20' cols='50'></textarea><br><br/>
  <label>Advice for someone reaching out to the organization:</label></br>
  <textarea name='advice_content' rows='20' cols='50'></textarea><br/>
  <button type='submit' value='submit'>Submit</button>
</form>
