<h1>Advice or Personal Experiance with Organization</h1>
<form action='/experiances/new' method='post'>
  <textarea name='content' rows='30' cols='120'></textarea><br/>
  <button tyoe='submit' value='submit'>Submit</button>
</form>
