<%= @experiance.organization.name %><br/>
<%= @experiance.content %></br>
<a href="/experiances/<%=@experiance.id%>/edit">Edit</a></br>
<form action="/experiances/<%=@experiance.id%>/delete" method='post'>
  <input id='hidden' type='hidden' name='_method' value='delete'>
  <button type='submit' value='delete'>Delete</button>
</form></br>
<a href="/cities/index">All Organizations</a>
