<%= @experience.organization.name %><br/>
<%= @experience.content %></br>
<a href="/experiences/<%=@experiance.id%>/edit">Edit</a></br>
<form action="/experiences/<%=@experiance.id%>/delete" method='post'>
  <input id='hidden' type='hidden' name='_method' value='delete'>
  <button type='submit' value='delete'>Delete</button>
</form></br>
<a href="/organizations">All Organizations</a>
