<h1 align='center'>All Organizations in NY</h1>
<ul>
  <li><% @cities.each do |city| %>
    <%= city.name %>
    <ul>
      <li><% city.organizations.each do |organization| %>
        <a href="/organizations/<%= organization.id %>"><%= organization.name %></a>
      </li>
    </ul>
  </li>
</ul>
<% end %>
<% end %>
