<h1 align="center">New Organization</h1>

<form action="/organizations/new" method="post">
  <p>Organization Name: <input type="text" name="organization[name]"></p>

  <p>User Experience: <input id="user_experience_1" type="text" name="organization[user_experiences][][experience_content]"></p>
  <p>User Experience: <input id="user_experience_1" type="text" name="organization[user_experiences][][advice_content]"></p>
  
  <p>User Experience: <input id="user_experience_2" type="text" name="organization[user_experiences][][experience_content]"></p>
  <p>User Experience: <input id="user_experience_2" type="text" name="organization[user_experiences][][advice_content]"></p>
</form>
