<h1 align='center'><%= @organization.name %></h1>
<h2 align='center'><%= @organization.contact_info %></h2>
<ul>
  <li><% UserExperiance.all.each do |experiance| %>
    <% if experiance.ogranization_id = @organization.id %>
    <%= experiance.user.username %>: <%= experiance.content %>
  </li>
</ul>
<% end %>
<% end %>
<br>
<br><br/>
<a href='/organizations/<%@organization.id%>/new'>Add a new experiance</a>

<!-- link to add new experiance -->
